<header>
  <%= link_to "Back to #{current_user.name}", user_path(current_user) %>
</header>

<h2 class='headline'>Ideas for <%="#{current_user.name}"%></h2>
<h4><%= link_to "Create a new idea", new_user_idea_path(current_user) %></h4>

<% @ideas.each do |idea| %>
  <section class='ideas'>
    <p><%= link_to "#{idea.name}", user_idea_path(current_user, idea) %>: <%= idea.description %></p>
  </section>
<% end %>
